@import "../variables";

.title {
  color: $default-white;
  span {
    font-size: 2.1rem;
    font-weight: 500;
    &:hover {
      color: transparent;
    }
  }
}
.chat {
  &__container {
    position: relative;
  }
  &__bubble {
    &:nth-child(2) {
      position: absolute;
    }
    &:nth-child(3) {
      position: absolute;
    }
  }
}

.circle {
  width: 6rem;
  height: 6rem;
  border-radius: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  opacity: 0;
  &:first-child {
    border: 0.2rem $default-white solid;
    animation: popin 0.7s forwards ease-in-out;
    transform: translate(-50%, -50%);
  }
  &:nth-child(2) {
    width: 8rem;
    height: 8rem;
    border-radius: 8rem;
    border: 0.4rem $default-grey solid;
    z-index: -1;
    animation: popin 0.7s forwards ease-in-out;
    animation-delay: 0.4s;
    transform: translate(-50%, -50%);
  }
  &:nth-child(3) {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    border: 0.2rem $default-grey solid;
    animation: slideUp 0.9s forwards ease-in-out;
    transform: translate(-50%, -50%);
    animation-delay: 1s;
    top: 90%;
  }
  &:nth-child(4) {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    border: 0.2rem $default-grey solid;
    animation: slideDown 0.9s forwards ease-in-out;
    transform: translate(-50%, -50%);
    top: 10%;
    animation-delay: 1s;
    z-index: 100;
  }
}

@keyframes popin {
  60% {
    transform: scale(0.7);
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translate(-50%, -50%);
  }
}

@keyframes slideUp {
  60% {
    transform: translate(-50%, -120%);
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes slideDown {
  60% {
    transform: translate(-50%, -10%);
    color: none;
  }
  100% {
    transform: translate(-50%, -50%);
    color: $default-blue;
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.phrase {
  &__cursor {
    width: 0.24rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 30%;
    margin-right: -50%;
    background-color: $default-white;
    z-index: 100;
    animation: blinkCursor 0.6s infinite ease-in-out;
  }
  &__text {
    font-size: 2.8rem;
    color: $default-white;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 30%;
    margin-right: -50%;
    padding: 1rem 2rem;
  }
}

@keyframes blinkCursor {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
