.contentBar {
  margin-right: 10rem;
  span {
    display: block;
    width: 0.2rem;
    height: 5rem;
    border-radius: 0.4rem;
    background-color: black;
    margin-bottom: 0.8rem;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 1;
    }
  }
}
