@import "../variables";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentBar {
  cursor: pointer;
  margin-right: 10rem;
  span {
    display: block;
    width: 0.2rem;
    height: 5rem;
    border-radius: 0.4rem;
    background-color: $default-black;
    margin-bottom: 0.4rem;
    transition: all 0.2s ease-in-out;
  }
  &__box {
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }

  &__active {
    opacity: 1;
  }
}
.content__circle {
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  border: 1.6px solid $default-black;
  border-radius: 1rem;
  margin-bottom: 0.4rem;
  margin-right: 10rem;
}

.content__nocircle {
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  border: 1.6px solid $default-grey;
  border-radius: 1rem;
  margin-bottom: 0.4rem;
  margin-right: 10rem;
}
