.content {
  display: flex;
  align-items: center;
  height: 25rem;

  &__title {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 200;
    font-style: oblique;
  }
  &__desc {
    width: 70rem;
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 200;
  }
  &__img {
    width: 100%;
    padding: 0 5rem;
    margin-left: 5rem;
  }
}
