@import "../variables";

.plog {
  position: relative;
  &__container {
  }

  &__icons {
    display: flex;

    div {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 0.44rem;
      background-color: $default-grey;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $default-black;
    }
  }

  &__like {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 7rem;
    margin-top: 2.5rem;
  }

  &__more {
    position: absolute;
    margin-top: 2.5rem;
    top: 0;
    right: 0;
    margin-right: 3rem;
    font-size: 2.4;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 4rem;
    margin-bottom: 3rem;
  }
}
