.presentation {
  display: flex;
  flex-direction: column;
  height: 70rem;
  width: 120rem;
  border-radius: 1rem;
  box-sizing: border-box;
  position: relative;
  &__container {
    border-radius: 2rem;
    &:first-child {
      position: absolute;
      z-index: 100;
      top: 1rem;
    }
    &:nth-child(2) {
      background-color: orange;
      height: 100%;
      box-sizing: border-box;
    }
    &:last-child {
      position: absolute;
      bottom: 3rem;
      width: 50rem;
      padding: 0 2rem;
      margin-left: 1rem;
      font-size: 2rem;
      color: white;
      z-index: 100;
      background-color: black;
    }
  }
  &__bar {
  }
}
